/* Light Mode (default) */
:root {
  --background-color: #f5f5f5;
  --bg-post: #f5f5f5;
  --bg-rank-box: #f0f8ff;
  --bg-position-pill: #ffffffcc;
  --text-primary: #000;
  --text-muted: #6c757d;
  --rank-text: #14b8a6;
  --text-pill: #333;
  --shadow-hover: rgba(0, 0, 0, 0.07);
}

/* Dark Mode */
.dark {
  --bg-post: #373636;
  --bg-rank-box: #374151;
  --bg-position-pill: #4b5563;
  --text-primary: #f3f4f6;
  --text-muted: #f3f4f6;
  --rank-text: #14b8a6;
  --text-pill: #f3f4f6;
  --shadow-hover: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
  }
}
